@model IEnumerable<LibraryManagementSystem.Models.tblbooks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBNNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBNNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
